.footer{
    background: #000000;
}

.footer-container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    position: relative;
    align-items: center;
}

.texto-footer {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
}

.contact-list li{
    font-weight: bold;
    font-size: 2.15rem;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 30px;
}

.contact-list li a{
    color: #fff;
}

.copyright-footer {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8F8F8F;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .texto-footer {
        font-size: 1.2rem;
    }

    .contact-list li {
        font-size: 1rem;
    }
}
